.key {
  display: flex;
}

.key input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #A859FF;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #A859FF;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #7051E8;
}