.heading {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  margin: 0 auto;
  margin-top: 4rem;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: #7051E8;;
  color: white;
}

.Bar-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #A859FF;
}

.Paint-wrapper {
  padding: 1rem;
  background: #f1f3f5;
}
.todos-wrapper {
  min-height: 5rem;
}