.item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.item:hover {
  background: #7051E8;
}


.item:hover .remove {
  opacity: 1;
}

.item + .item {
  border-top: 1px solid #A859FF;
}


.remove {
  margin-right: 1rem;
  color: #e64980;
  font-weight: 600;
  opacity: 0;
}

.todo-text {
  flex: 1; 
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #A859FF;
}

.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  color: #A859FF;
  font-weight: 800;
}